""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set commentary
set ideajoin
set ideaput
set ideamarks

set wrapscan
set showmode
set incsearch
set hlsearch
set number
set relativenumber
set sneak

set history=1000
set scrolloff=7

map ; :
map gh :action QuickJavaDoc<CR>

inoremap ;; <Esc>
vnoremap ;; <Esc>
